
{% extends 'base2.html'%}



{% load static %}

{% block content %}

    <div class="row row-cols-1 row-cols-md-3">
<p>
 <h2> Order Details</h2>
</p>





    <br><br><br><br>







     {% for o in order %}
        <div class="col mb-4">

            <div class="card h-100" >

                <img src="{{ o.order_image.url }}" class="card-img-top" alt="...">

              <div class="card-body">

                <h5 class="card-title">{{ o.order_details }}<br></h5>

                <p class="card-text">

                    Order Info <br>

                              {{ o.order_no }}<br>
                             {{ o.order_Date }}



                </p>



        <a href="{{ p.id}}">
                       <a class="nav-link" href="{% url 'make_Payment'  %}" >
                       <button type="button" class= "btn btn-outline-primary">Go_to_Payment</button></a>



          </div>
                <div class="card-footer">
                    <a href="#" class="btn btn"></a>
                </div>
            </div>
        </div>




        <br><br>
    {% endfor %}
        </div>


{% endblock content %}


